<!DOCTYPE HTML>
<html>
	<head>
		<title><%= site_name %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">
				<div id="header-wrapper">
					<div id="header" class="container">
							<h1 id="logo">
								<%= site_name %>
							</h1>
							<p><%= tag_line %></p>
					</div>
				</div>

				<div id="features-wrapper">
					<section id="features" class="container">
						<header>
							<h2>Who are <strong>we</strong>!!!!</h2>
							<p>
								We are the voice of one of the most biggest punjabi music labels in the industries – the Punjabi Music Worldwide, representing punjabi music industry. We aspire to advance the business and the art of punjabi music and celebrate its enjoyment around the world. Our members include: UK Music Records; Speed Records and Amar Audio.
							</p>
						</header>
						<div class="row">
              <% partners.forEach(function(partner){ %>
  							<div class="1u 2u(mobile)">
  									<section>
  										<a href="#" class="image featured">
                        <img src="images/<%= partner.image %>" alt="<%= partner.title %>" title="<%= partner.title %>" />
                      </a>
  									</section>
  							</div>
              <% }) %>
						</div>
					</section>
				</div>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="inner">
						<section id="banner" class="container">
							<p>We are <strong>voice</strong> of punjabi industry.</p>
						</section>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header>
							<h2>Questions or comments? <strong>Get in touch:</strong></h2>
						</header>
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<form method="post" action="#">
										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<input name="name" placeholder="Name" type="text" />
											</div>
											<div class="6u 12u(mobile)">
												<input name="email" placeholder="Email" type="text" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<a href="#" class="form-button-submit button icon fa-envelope">Send Message</a>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
									mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
									leo nibh, rutrum eu malesuada.</p>
									<div class="row">
										<div class="2u 12u(mobile)">

										</div>
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-envelope">
													<a href="mailto:<%= email %>"><%= email %></a>
												</li>
												<li class="icon fa-twitter">
													<a href="https://www.twitter.com/<%= twitter %>">@<%= twitter %></a>
												</li>
												<li class="icon fa-facebook">
													<a href="<%= facebook %>"><%= facebook %></a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; 2016 <%= site_name %>. All rights reserved.</li>
						</ul>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
